.footer {
    width: 100%;
    font-family: $font-1;
    color: #fff;

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .group {
        align-items: flex-start;

        &.footer-copyright {
            align-items: center;
        }
    }

    .details {
        background: $color-1;
        padding: 3em;
    }

    &-logo {
        flex: 2;
        padding-right: 5em;

        img {
            width: 100%;
            max-width: 260px;
        }
    }

    &-nav {
        flex: 4;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-section {
        flex: 25%;
        padding-right: 20px;

        a {
            display: inline-flex;
            font-size: 1.25rem;
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            margin-bottom: 0.5em;

            &:hover,
            &:focus {
                color: $color-3;
            }
        }
    }

    .phone {
        margin-top: 2em;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    address {
        margin-top: 1em;
    }

    &-copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 1em;
    }

    .copyright {
        flex: 1;
    }

    .socials {
        flex: 1;
    }

    .ewd {
        flex: 1;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            display: inline-block;
            width: 150px;
            max-width: 150px;
        }

        img {
            width: 100%;
        }
    }
}
