.footer {
    position: relative;
    width: 100%;
    font-family: $font-1;
    margin-top: 8vh;

    .container {
        padding-top: 3vh;
        padding-bottom: 3vh;
        background: $color-grey-2;
    }

    .group {
        align-items: flex-start;

        &.footer-copyright {
            align-items: center;
        }
    }

    &-logo {
        flex: 1;

        img {
            width: 100%;
            max-width: 300px;
        }
    }

    &-contact {
        padding-left: 5vw;

        span {
            font-weight: 600;
        }

        a {
            text-decoration: none;
        }

        p {
            margin-bottom: 0;
        }
    }

    &-copyright {
        // display: block;
        width: 100%;
        margin-top: 2em;
    }

    .copyright {
        // flex: 1;
        font-weight: 600;
    }

    .social-icons {
        flex: 1;
        justify-content: flex-end;
    }

    .cwr {
        display: flex;
        align-items: center;
    }

    .ewd {
        // flex: 1;
        line-height: 1;
        display: flex;
        align-items: center;
        margin-left: 1em;
        // justify-content: flex-end;

        a {
            display: inline-block;
            width: 175px;
            max-width: 175px;
        }

        img {
            width: 100%;
        }
    }

    .decor {
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(100% - 1px);
        pointer-events: none;
        user-select: none;
        z-index: -1;

        img {

        }
    }
}
