.footer {
    width: 100%;
    font-family: $font-1;
    margin-top: 6vh;

    .container {
        padding-top: 6vh;
        padding-bottom: 3vh;
        background: $color-grey-2;
    }

    .group {
        align-items: flex-end;

        &.footer-copyright {
            align-items: center;
        }
    }

    &-logo {
        flex: 1;

        img {
            width: 100%;
            max-width: 300px;
        }
    }

    &-contact {
        flex: 1;

        span {

        }

        a {
            text-decoration: none;
        }
    }

    &-copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 3em;
    }

    .copyright {
        flex: 1;
    }

    .socials {
        flex: 1;
    }

    .ewd {
        flex: 1;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            display: inline-block;
            width: 150px;
            max-width: 150px;
        }

        img {
            width: 100%;
        }
    }
}
