.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    text-align: center;
    user-select: none;
    margin-left: 1em;
    z-index: 10;

    ul {
        overflow: visible;
        padding: 0;

        ul {
            border-radius: 0.25em;
            padding: 0;
            left: 0;
            opacity: 0;
            position: absolute;
            top: -9999px;
            background: #fff;
            white-space: nowrap;
            min-width: 200px;
            box-shadow: $box-shadow-2;
            text-align: left;
            transition: opacity 0.35s;
            overflow: hidden;

            a {
                @include fs(16px);
                padding: 1em;
                margin: 0;

                &:hover,
                &:focus {
                    background: $color-grey-2;
                }
            }
        }
    }

    > ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        > li {
            margin: 0 0 0 1.75em;
        }

        li:last-child ul {
            left: auto;
            right: 0;
            text-align: right;
        }
    }

    li {
        position: relative;
        display: block;

        &.open {
            > a {
                color: $color-1;
                color: $color-0;
            }

            ul {
                top: calc(100% + 4px);
                opacity: 1;
                z-index: 10;
            }
        }
    }

    a:not(.button) {
        display: block;
        color: $color-0;
        font-family: $font-1;
    }

    a.button {
        padding: 0;
        height: 42px;
        background: none;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.6em;
            height: 100%;

            &:first-of-type {
                background: $color-2;
                border-radius: 0.5em 0 0 0.5em;
            }
            &:last-of-type {
                background: $color-1;
                border-radius: 0 0.5em 0.5em 0;
            }
        }

        &::after {
            display: none;
        }

        &:hover,
        &:focus {
            color: #fff;
        }
    }

    a {
        @include fs(17px);
        font-weight: 600;
        text-decoration: none;
        line-height: 1;
        transition: $transition-1;

        &:hover,
        &:focus {
            color: $color-1;
        }

        i {
            @include fs(12px);
            cursor: pointer;
            margin: 0 0 0 3px;
            transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        }
    }

    .drop {
        &.column_nav {
            column-count: 2;
        }
    }

    .trigger {
        a {
            &::after {
                content: '';
                position: absolute;
                top: 125%;
                left: 0;
                width: 100%;
                height: 2px;
                max-height: 0px;
                border-radius: 2em;
                background: rgba($color-1, 0.25);
                background: rgba($color-0, 0.25);
            }

            &.open {
                color: $color-0;

                &::after {
                    max-height: 2px;
                }

                i {
                    transform: rotateX(180deg);
                }
            }
        }
    }

    @media (max-width: 900px) {
        display: none;
    }
}

.utility-nav {
    margin-bottom: 0em;

    ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
        overflow: visible;
        padding: 0;
    }

    li {
        position: relative;
        display: block;
        margin: 0 0 0 2.5em;
    }

    a {
        @include fs(18px);
        display: block;
        color: $color-0;
        font-family: $font-1;
        text-decoration: none;
        transition: $transition-1;
    }
}
