.nav {
    flex: 1;
    font-family: $font-1;
    font-weight: 700;
    text-align: center;
    user-select: none;
    z-index: 10;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 2.5em;

    ul {
        overflow: visible;
        padding: 0;

        ul {
            border-radius: 0.125em;
            padding: 0;
            left: 0;
            opacity: 0;
            position: absolute;
            top: -9999px;
            background: #fff;
            white-space: nowrap;
            min-width: 200px;
            box-shadow: $box-shadow-2;
            text-align: left;
            transition: opacity 0.35s;
            overflow: hidden;

            &.column-nav {
                column-count: 2;
            }

            a {
                @include fs(17px);
                padding: 1em;
                margin: 0;

                &:not(.button):hover,
                &:not(.button):focus {
                    color: $color-2;
                    background: $color-grey-1;
                }
            }
        }
    }

    > ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        > li {
            margin: 0 0 0 1.25vw;
        }

        li:last-child ul {
            left: auto;
            right: 0;
            text-align: right;
        }
    }

    li {
        position: relative;
        display: block;

        &.open {
            > a {
                color: $color-1;
            }

            ul {
                top: calc(100% + 4px);
                opacity: 1;
                z-index: 10;
            }
        }
    }

    a {
        @include fs(18px);
        display: block;
        text-decoration: none;
        transition: $transition-1;

        &:not(.button) {
            color: $color-0;
        }

        &:not(.button):hover,
        &:not(.button):focus {
            color: $color-1;
        }

        &:not(.button) {
            i {
                @include fs(14px);
                cursor: pointer;
                margin: 0 0 0 6px;
                opacity: 0.4;
            }
        }

        &.button {
            display: flex;
            align-items: center;
        }
    }

    .utility {

        > li {
            margin: 0 0 0 0.5em;
        }
    }

    @media (max-width: 900px) {
        display: none;
    }
}
