$button-color: #fff;
$button-background: $color-1;

/* Button Styling */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;

    &-center {
        justify-content: center;

        .button + .button {
            margin: 0 0 0 1em;
        }
    }

    &-right {
        justify-content: flex-end;
    }
}

// Reset styles for all buttons
.button {
    cursor: pointer;
    font-family: $font-1;
    font-size: inherit;
    line-height: inherit;
    color: $button-color;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 1em 1.375em;
    background: $button-background;
    color: $button-color;
    border-radius: 0.5em;
    box-shadow: 0 0.625em 1.25em rgba($color-1, 0.09);
    line-height: 1;
    font-weight: 600;
    transition: 150ms ease;
    text-decoration: none;
    user-select: none;
    cursor: pointer;

    + .button {
        margin: 0 0 0 1em;
    }

    &:hover,
    &:focus {
        background: lighten($button-background, 10%);
        box-shadow: $box-shadow-2;
    }

    &:active {
        background: darken($button-background, 10%);
        box-shadow: $box-shadow-2;
        transform: translateY(1px);
    }

    i + span {
        margin-left: 0.5em;
    }

    span + i {
        margin-left: 1.5em;
    }

    // Unique styles
    &-primary-2 {
        background: $color-2;
    }
    &-primary-3 {
        background: $color-3;
    }
    &-secondary-1 {
        background: $color-s1;
        color: #fff;
    }
    &-secondary-2 {
        color: $color-0;
        background: $color-s2;
    }
    &-secondary-3 {
        color: $color-0;
        background: $color-s3;
    }

    &-size-small {
        padding: 0.66em 1em;
    }

    &-size-xs {
        height: 36px;
        padding: 0 0.66em;
    }

    &[disabled] {
        background: $color-grey-1;
        color: $color-0;
        cursor: default;

        &:hover,
        &:focus {
            box-shadow: none;
        }
    }

    @media (max-width: 768px) {
        &,
        + & {
            margin: 0 1em 1em 0;
        }
    }
}
