.carousel {
    margin-bottom: 0;
    user-select: none;

    .container {
        padding-top: 0;
    }

    .group {
        position: relative;
        //background: $color-grey-2;
    }

    .details,
    .images {
        position: static;
        flex: 1;
    }

    .slide {
        position: relative;
        width: 100%;
        margin: 0 1em;
        overflow: hidden;

        &.is-selected {

            .info {
                opacity: 1;
                transform: scale(1);
            }
        }

        .info {
            position: absolute;
            left: 1em;
            bottom: 1em;
            width: 50%;
            max-width: 46em;
            padding: 3em;
            opacity: 0;
            transform: scale(0.8);
            transition: 0.33s 0.1s ease;

            .background {
                position: absolute;
                bottom: -1.25em;
                left: -1.25em;
                width: 125%;
                aspect-ratio: 1;

                img {
                    object-fit: contain;
                    object-position: bottom left;
                    width: 100%;
                    height: 100%;
                    filter: drop-shadow(2px 4px 66px rgba(0,0,0,0.16));
                }
            }

            &-right {
                left: auto;
                right: 1em;

                .background {
                    left: -1.25em;
                    right: -1.25em;
                }
            }

            &-color-revert {
                h1,
                p {
                    color: #fff;
                }
            }

            &-square {
                top: 1em;
                display: grid;
                place-content: center;

                &.info-right {
                }

                .background {
                    top: -1.25em;
                    width: calc(100% + 2.5em);
                    height: calc(100% + 2.5em);

                    img {
                        object-fit: cover;
                        object-position: left;
                    }
                }
            }

            .details {
                position: relative;
                z-index: 2;
            }

            .title {
                max-width: 90%;
                line-height: 1;
            }

            .description {
                margin: 2em 0;
            }

            .buttons {
                //margin-top: 2em;
            }
        }

        figure {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 2;
            // filter: grayscale(1);
        }
    }

    .flickity {
        &-enabled {
            // padding-bottom: 1em;
        }

        &-viewport,
        &-slider {
            width: 100%;
        }

        &-viewport {
            min-height: 720px;
        }

        &-page-dots {
            bottom: 1em;

            .dot {
                width: 100%;
                max-width: 10px;
                margin: 0 0.25em;
                border-radius: 2em;
                background: $color-0;
                opacity: 0.75;
                transition: $transition-1;

                &.is-selected {
                    max-width: 22px;
                    background: $color-s2;
                    box-shadow: $box-shadow-1;
                    opacity: 1;
                }
            }
        }

        &-button {
            &.previous {
                left: auto;
                right: calc(100% + 1.5em);
            }

            &.next {
                right: auto;
                left: calc(100% + 1.5em);
            }

            opacity: 0.25;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
}
