.carousel {
    margin-bottom: 0;
    user-select: none;

    .container {
        padding-top: 0;
        // padding-bottom: 0;
    }

    .group {
        position: relative;
        background: $color-grey-2;
    }

    .details,
    .images {
        position: static;
        flex: 1;
    }

    .details {
        border-radius: 0.25em 0 0 0.25em;
        overflow: hidden;

        .slide {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            transform: scale(0.8);
            transition: transform 0.45s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1s ease-out;

            &.is-selected {
                transform: scale(1);
            }
        }
    }

    .images {
        order: 1;
        border-radius: 0 0.25em 0.25em 0;
        overflow: hidden;

        .slide {
            aspect-ratio: 1;

            &.is-selected {
                img {
                    transform: scale(1);
                }
            }
        }
    }

    .slide {
        width: 100%;
        opacity: 0;
        transition: opacity 1s ease-out;
        overflow: hidden;

        &.is-selected {
            opacity: 1;
            transition: opacity 0s ease;
        }

        .decor {
            position: absolute;
            top: -5%;
            left: -5%;
            width: 110%;
            height: 110%;
            mix-blend-mode: soft-light;
            opacity: 0.5;
            pointer-events: none;
            user-select: none;

            img {
                transform: scale(1);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            position: relative;
            max-width: 42em;
            padding: 2em;

            .title {
                max-width: 90%;
            }

            .description {
                margin: 2em 0;
            }

            .buttons {
                //margin-top: 2em;
            }
        }

        figure {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(0.8);
            transition: transform 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &:nth-of-type(1) {
            background: $color-1;
            color: #fff;
        }
        &:nth-of-type(2) {
            background: $color-2;
        }
        &:nth-of-type(3) {
            background: $color-3;
        }
    }

    .flickity {
        &-enabled {
            // padding-bottom: 1em;
        }

        &-viewport,
        &-slider {
            width: 100%;
        }

        &-viewport {
            min-height: 720px;
        }

        &-page-dots {
            bottom: 1em;

            .dot {
                width: 100%;
                max-width: 10px;
                margin: 0 0.25em;
                border-radius: 2em;
                background: $color-0;
                opacity: 0.75;
                transition: $transition-1;

                &.is-selected {
                    max-width: 22px;
                    background: $color-s2;
                    box-shadow: $box-shadow-1;
                    opacity: 1;
                }
            }
        }

        &-button {
            &.previous {
                left: auto;
                right: calc(100% + 1.5em);
            }

            &.next {
                right: auto;
                left: calc(100% + 1.5em);
            }

            opacity: 0.25;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
}
