.donation {
    margin-bottom: 0;
    .container {
    }

    .group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: $color-0;
    }

    &-snippets,
    &-details {
    }

    &-snippets {
        //color: #fff;
        background: $color-s3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &-snippet {
        position: relative;
        padding: 2em;
        overflow: hidden;

        &:nth-of-type(1),
        &:nth-of-type(4),
        &:nth-of-type(5) {
            color: $color-0;
            background: $color-2;
        }

        .icon {
            font-size: 2rem;
            margin-bottom: 0.5em;
        }
    }

    &-details {
        position: relative;
        order: 1;
        color: #fff;
        display: flex;
        flex-direction: column;
    }

    &-image,
    &-cta {
        flex: 1;
    }

    &-image {
        width: 100%;
        height: 100%;

        figure,
        img {
            width: 100%;
            height: 100%;
        }

        img {
            object-fit: cover;
            opacity: 0.75;
        }
    }

    &-cta {
        padding: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        text-align: center;
        z-index: 2;
        background: $color-1;
        color: #fff;

        h2 {
            max-width: 12em;
        }

        p {
            max-width: 34em;
            margin: 1em auto;
        }

        .buttons {
            margin-top: 2em;
        }
    }

    .decor {
        position: absolute;
        top: -5%;
        left: -5%;
        width: 110%;
        height: 110%;
        mix-blend-mode: soft-light;
        opacity: 0.5;
        pointer-events: none;
        user-select: none;

        img {
            transform: scale(1);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
