.hook {
    margin-bottom: 0;

    &.section-active {
        .hook-item {
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    transition-delay: 0.05s * $i + 0.3s;
                }
            }
            transform: scale(1);
            opacity: 1;

            .image img {
                filter: grayscale(0);
            }

            &:nth-of-type(3) {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }
    }
    .container {
    }

    .group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-content: center;

        @media (max-width: 1920px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-item {
        position: relative;
        aspect-ratio: 3 / 2;
        transform: scale(0.8);
        opacity: 0;
        transition: 0.66s ease;
        overflow: hidden;

        display: flex;
        align-items: center;
        height: 100%;
        color: $color-0;
        background: $color-s2;
        padding: 3em;
        text-decoration: none;

        &.hook-item-image {
            padding: 0;
        }

        .image {
            height: 100%;
            width: 100%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .decor {
            position: absolute;
            top: -5%;
            left: -5%;
            width: 110%;
            height: 110%;
            mix-blend-mode: soft-light;
            opacity: 0.5;
            pointer-events: none;
            user-select: none;

            img {
                transform: scale(1);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .icon {
            font-size: 2rem;
            margin-bottom: 0.5em;
        }

        h2 {
            margin-bottom: 0.5em;
        }

        &:nth-of-type(2) {
            background: $color-2;
            color: $color-0;
        }

        &:nth-of-type(4) {
            aspect-ratio: unset;
            grid-column: span 1;
            background: $color-1;
            color: #fff;
        }

        &:nth-of-type(5) {
            grid-column: span 2;
            aspect-ratio: unset;
            transform: 1;
            opacity: 1;
            //clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: 0.66s ease;
            background: $color-1;
            color: #fff;
        }

        &:nth-of-type(3) {
            height: 100%;
            background: $color-3;
            color: $color-0;
        }

        p.value {
            font-family: $font-1;
            font-weight: 600;
            @extend h2;
        }

        .buttons {
            margin-top: 1em;
        }
    }
}
