.instagram {
    margin-bottom: 0;

    .container {
    }
    .group {
        background: #fff;
        justify-content: center;
        padding: 2em 0 0;
    }
    .icon {
        text-align: center;
        font-size: 1.5rem;
    }

    .heading {
        width: 100%;
        margin: 0 0 1em;
        text-align: center;
    }
}
