.statistics {
    margin-bottom: 0;

    &.section-active {

        .statistics {

            &-item {
                animation: statistics-enter 0.66s ease-out forwards;

                @for $i from 1 through 6 {
                    &:nth-of-type(#{$i}) {
                        animation-delay: $i * 0.2s;
                    }
                }
            }
        }
    }

    .container {
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .group {
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // place-content: center;
        margin: 0 -1em;
    }

    &-item {
        position: relative;
        width: calc(33.333% - 2em);
        display: flex;
        align-items: center;
        height: 100%;
        color: $color-0;
        background: $color-grey-2;
        padding: 2em;
        margin: 1em;
        text-decoration: none;

        // Animations
        opacity: 0;
        transform: scale(0.6);

        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     background: linear-gradient(to right, $color-grey-2, #fff);
        //     background: darken(#dfe7d8, 2%);
        //     z-index: -1;
        // }

        .icon {
            flex: 3;
            font-size: 2rem;
        }

        h2 {
            margin-bottom: 0.5em;
        }

        p.value {
            font-family: $font-1;
            font-weight: 600;
            @extend h3;
            line-height: 1;
            margin-bottom: 0.25em;
        }

        p.label {
            line-height: 1.2;
        }

        .details {
            flex: 5;
            padding: 0 2em;
        }
    }

    .decor {
        position: absolute;
        top: -5%;
        left: -5%;
        width: 110%;
        height: 110%;
        mix-blend-mode: soft-light;
        opacity: 0.5;
        pointer-events: none;
        user-select: none;

        img {
            transform: scale(1);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .flickity {
        &-enabled {
            // padding-bottom: 1em;
        }

        &-viewport,
        &-slider {
            width: 100%;
        }

        &-viewport {
            //min-height: 350px;
        }

        &-page-dots {
            bottom: 1em;

            .dot {
                width: 100%;
                max-width: 10px;
                margin: 0 0.25em;
                border-radius: 2em;
                background: $color-0;
                opacity: 0.75;
                transition: $transition-1;

                &.is-selected {
                    max-width: 22px;
                    background: $color-s2;
                    box-shadow: $box-shadow-1;
                    opacity: 1;
                }
            }
        }

        &-button {
            &.previous {
                left: auto;
                right: calc(100% + 1.5em);
            }

            &.next {
                right: auto;
                left: calc(100% + 1.5em);
            }

            opacity: 0.25;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
}

@keyframes statistics-enter {
    from {
        opacity: 0;
        transform: scale(0.6);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
