.updates {
    margin-bottom: 0;

    .container {
    }

    .group {
    }

    &-section {
        flex: 1;
        background: $color-s2;
        padding: 3em;

        &:first-of-type {
            border-right: 1px solid #fff;
        }

        .icon {
            font-size: 2rem;
            margin-bottom: 0.5em;
        }

        h2 {
            margin-bottom: 1em;
        }
    }

    .buttons {
        margin-top: 2em;
    }
}
