.updates {
    margin-bottom: 0;
    overflow: hidden;

    .container {
    }

    .group {
        position: relative;
    }

    &-section {
        flex: 1;
        background: $color-s2;
        padding: 3em;

        &:first-of-type {
            border-right: 1px solid #fff;
        }

        .icon {
            font-size: 2rem;
            margin-bottom: 0.5em;
        }

        h2 {
            margin-bottom: 1em;
        }
    }

    .buttons {
        margin-top: 2em;
    }

    .decor {
        position: absolute;
        top: -5%;
        left: -5%;
        width: 110%;
        height: 110%;
        mix-blend-mode: soft-light;
        opacity: 0.5;
        pointer-events: none;
        user-select: none;

        img {
            transform: scale(1);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
